#parallax0ne {
  background-image: url(../img/sunset.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 750px;
  background-attachment: fixed;
}


#parallax0ne section {
background-color: rgba(0,0,0, 0.6);
  nav > ul {
    list-style-type: none;
    padding: 1px;
}

nav > ul > li {
    margin: 0 14px;
    padding: 1px 2px;
    border-radius: 10px;
}

